/* Partners marquee scroll */
.partners-wrapper {
  width: 100%;
  max-width: 100%;
  margin-inline: auto;
  position: relative;
  height: 40px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.partners-item {
  width: 120px;
  height: 40px;
  object-fit: contain;
  position: absolute;
  left: max(calc(200px * 7), 100%);
  animation-name: scrollLeft;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.partners-item1 { animation-delay: calc(40s / 7 * (7 - 1) * -1); }
.partners-item2 { animation-delay: calc(40s / 7 * (7 - 2) * -1); }
.partners-item3 { animation-delay: calc(40s / 7 * (7 - 3) * -1); }
.partners-item4 { animation-delay: calc(40s / 7 * (7 - 4) * -1); }
.partners-item5 { animation-delay: calc(40s / 7 * (7 - 5) * -1); }
.partners-item6 { animation-delay: calc(40s / 7 * (7 - 6) * -1); }
.partners-item7 { animation-delay: calc(40s / 7 * (7 - 7) * -1); }
